<ion-row class="row" *ngFor="let category of categories">
  <ion-col [size]="columnWidth">
    <!-- TODO Wrap Text nicely -->
    <span *ngIf="category.description !== null">
      {{ category.description }}
    </span>
  </ion-col>
  <ion-col *ngFor="let player of players; let i = index" [size]="columnWidth">
    <div class="input-container">
      <ion-item lines="none" *ngIf="showInputField(category)">
        <ion-input
          type="number"
          min="0"
          debounce="500"
          [value]="player.getPoints(category) | hideZero"
          (ionChange)="player.setPointsUI(category, $event.target)"
          [max]="category.maxPoints"
          [input]="player.getPoints(category)"
        >
        </ion-input>
      </ion-item>
      <ion-checkbox
        *ngIf="showCheckbox(category)"
        (ionChange)="player.setFixedPointsUI(category, $event.target)"
      >
      </ion-checkbox>
    </div>
  </ion-col>
</ion-row>
