<ion-header>
  <ion-toolbar>
    <ion-title>Startup</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card button (click)="startSetup()" color="success">
    <ion-card-header>
      <ion-card-title class="action-button"> Spielen </ion-card-title>
      <ion-card-subtitle>Los geht´s</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card
    href="https://lukaspanni.de/impressum.html"
    target="_blank"
    color="medium"
    id="imprint"
  >
    <ion-card-header>
      <ion-card-title>Impressum</ion-card-title>
      <ion-card-subtitle>und weitere Informationen</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
