ion-card-title.action-button {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

ion-card#imprint {
  position: fixed;
  display: block;
  bottom: 1vh;
  color: white;
  background: var(--ion-color-medium);
  width: 95vw;
  border-radius: 5px;
}
