<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Würfelblock </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/startup"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid class="main-block" fixed>
    <ion-row>
      <ion-col [size]="columnWidth"></ion-col>
      <ion-col *ngFor="let player of players" [size]="columnWidth">
        {{player.name}} <span *ngIf="player.totalPoints > 0">({{currentPlacement(player)}})</span>
      </ion-col>
    </ion-row>

    <wb-category-display [players]="players" [categories]="topCategories" [columnWidth]="columnWidth">
    </wb-category-display>

    <ion-row class="subtotal">
      <ion-col [size]="columnWidth">Zwischensumme</ion-col>
      <ion-col *ngFor="let player of players" [size]="columnWidth">
        <ion-input type="text" disabled [value]="player.subTotal(topCategories)" (ionChange)="subTotalChange(player)">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="bonus">
      <ion-col [size]="columnWidth">
        <div>
          <span id="hover-{{ bonusCategory.name }}"> {{ bonusCategory.name }} </span>
          <ion-popover
            trigger="hover-{{ bonusCategory.name }}"
            triggerAction="click"
            dismiss-on-select="true"
            side="top"
            alignment="center"
            style="--max-width: 30vw"
          >
            <ng-template>
              <div style="margin: 1em">{{ bonusCategory.description }}</div>
            </ng-template>
          </ion-popover>
        </div>
      </ion-col>
      <ion-col *ngFor="let player of players" [size]="columnWidth">
        <ion-input type="text" disabled [value]="player.getPoints(bonusCategory)"></ion-input>
      </ion-col>
    </ion-row>

    <wb-category-display [players]="players" [categories]="bottomCategories" [columnWidth]="columnWidth">
    </wb-category-display>

    <ion-row class="total">
      <ion-col [size]="columnWidth">Summe</ion-col>
      <ion-col *ngFor="let player of players" [size]="columnWidth">
        <ion-input type="text" disabled [value]="player.totalPoints"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="saveResults()" expand="block" color="success" [hidden]="!gameFinished">
    <ion-icon slot="end" name="save-outline"></ion-icon>
    Ergebnisse speichern
  </ion-button>
</ion-content>
