ion-row > ion-col {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

ion-col:first-child {
  padding: 1em 0 1em 0;
}

.main-block > ion-row:first-child {
  font-weight: bolder;
  font-size: large;
  background-color: rgba(var(--ion-color-secondary-rgb), 0.5);
}

.main-block ion-col:first-child {
  font-weight: bold;
  font-size: large;
  background-color: rgba(var(--ion-color-secondary-rgb), 0.5);
}

ion-input {
  text-align: center;
}

.input-container {
  vertical-align: middle;
  margin: auto;
  height: 100%;
}

ion-row.subtotal > ion-col:first-child,
ion-row.bonus > ion-col:first-child {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: rgba(var(--ion-color-medium-rgb), 0.4);
}

ion-row.total > ion-col:first-child {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: var(--ion-color-dark-contrast);
  background-color: rgba(var(--ion-color-dark-rgb), 0.4);
}

ion-row.total {
  border-top: 1px solid black;
}

ion-input input[type="number"]::-webkit-outer-spin-button,
ion-input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@-moz-document url-prefix() {
  ion-input input[type="number"] {
    -moz-appearance: textfield !important;
  }
}
