<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Würfelblock </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="main-block" fixed>
    <ion-row>
      <ion-col [size]="columnWidth"></ion-col>
      <ion-col *ngFor="let player of players" [size]="columnWidth">
        {{player.name}} <span *ngIf="player.totalPoints > 0">({{currentPlacement(player)}})</span>
      </ion-col>
    </ion-row>

    <wb-category-display [players]="players" [categories]="topCategories" [columnWidth]="columnWidth">
    </wb-category-display>

    <ion-row class="subtotal">
      <ion-col [size]="columnWidth">Zwischensumme</ion-col>
      <ion-col *ngFor="let player of players" [size]="columnWidth">
        <ion-input type="text" disabled [value]="player.subTotal(topCategories)" (ionChange)="subTotalChange(player)">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="bonus">
      <ion-col [size]="columnWidth">Bonus</ion-col>
      <ion-col *ngFor="let player of players" [size]="columnWidth">
        <ion-input type="text" disabled [value]="player.getPoints(bonus)"></ion-input>
      </ion-col>
    </ion-row>

    <wb-category-display [players]="players" [categories]="bottomCategories" [columnWidth]="columnWidth">
    </wb-category-display>

    <ion-row class="total">
      <ion-col [size]="columnWidth">Summe</ion-col>
      <ion-col *ngFor="let player of players" [size]="columnWidth">
        <ion-input type="text" disabled [value]="player.totalPoints"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
