<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Würfelblock </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="main-block" fixed>
    <ion-row>
      <ion-col [size]="12/(players.length+1)"></ion-col>
      <ion-col *ngFor="let player of players" [size]="12/(players.length+1)"
        >{{player.name}}</ion-col
      >
    </ion-row>
    <wb-category-display
      [players]="players"
      [categories]="topCategories"
    ></wb-category-display>

    <wb-category-display
      [players]="players"
      [categories]="bottomCategories"
    ></wb-category-display>
    <ion-row>
      <ion-col [size]="12/(players.length+1)">Summe</ion-col>
      <ion-col *ngFor="let player of players" [size]="12/(players.length+1)">
        <ion-input
          type="text"
          disabled
          [value]="player.totalPoints"
        ></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
