<ion-header>
  <ion-toolbar>
    <ion-title>Setup</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/startup"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="completePlayerSetup()" #userSetupForm="ngForm" class="ion-padding-end">
    <ion-item-group *ngFor="let player of setupPlayers; let i = index">
      <ion-item>
        <ion-label position="floating"> Name <ion-text color="danger">*</ion-text> </ion-label>
        <ion-input type="text" name="name{{i}}" [(ngModel)]="player.name" minLength="1" autocapitalize="true">
        </ion-input>
        <ion-button
          slot="end"
          *ngIf="setupPlayers.length > 1"
          (click)="removePlayer(i)"
          shape="round"
          fill="clear"
          color="medium"
        >
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-item-group>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="addPlayer()" expand="block">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button
            color="primary"
            type="submit"
            [disabled]="userSetupForm.invalid || !playerValid"
            expand="block"
            color="success"
          >
            <ion-icon slot="icon-only" name="send"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
