<app-header title="Einstellungen" [hideSettingsButton]="true"></app-header>

<ion-content class="ion-padding-horizontal">
  <ion-list [hidden]="!settingsAvailable">
    <ion-item *ngFor="let setting of settings">
      <ng-container [ngSwitch]="setting.type">
        <ion-label *ngIf="setting.type === 'boolean'">{{setting.name}}</ion-label>
        <ion-label *ngIf="setting.type !== 'boolean'" position="floating">{{setting.name}}</ion-label>
        <ion-checkbox *ngSwitchCase="'boolean'" [(ngModel)]="setting.value"> </ion-checkbox>
        <ion-input *ngSwitchCase="'string'" type="string" [(ngModel)]="setting.value"> </ion-input>
        <ion-input *ngSwitchCase="'number'" type="number" [(ngModel)]="setting.value"> </ion-input>
      </ng-container>
    </ion-item>
  </ion-list>
  <div [hidden]="!settingsAvailable">
    <ion-button (click)="store()" expand="block"> Speichern </ion-button>
    <br />
    <ion-button (click)="restoreDefaults()" expand="block" color="light"> Standard wiederherstellen </ion-button>
  </div>
  <h2 [hidden]="settingsAvailable">Keine Einstellungen verfügbar</h2>
</ion-content>
